html {
  /* commenting scroll-behavior: smooth so that animations have proper effect based on scroll position */
  /* scroll-behavior: smooth; */
  font-size: 1rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  /* common  */
  --shadow-light-1: #ccc;
  --shadow-light-2: #eee;
  --shadow-light-3: #fff;

  --shadow-dark-1: #444;
  --shadow-dark-2: rgb(14, 36, 49, 0.15);
  --shadow-dark-3: #777;
  --shadow-dark-4: rgba(0, 0, 0, 0.4);
  --shadow-dark-5: #343a40;

  /* --text-color: #212529; this is default */

  /* theme wise */
  --theme-blue-primary: #007bff;
  --theme-blue-shade-1: rgba(0, 123, 255, 1.25);
  --theme-blue-shade-2: rgba(0, 123, 255, 0.7);
  --theme-blue-shade-3: rgba(0, 123, 255, 0.4);
  --theme-blue-shade-4: rgba(0, 123, 255, 0.3);
  --theme-blue-shade-5: rgba(0, 123, 255, 0.15);
  --theme-blue-shade-6: rgba(0, 123, 255, 0.1);
  --theme-blue-shade-7: rgba(0, 123, 255, 0);

  /* current theme */
  --current-primary: var(--theme-blue-primary);
  --current-shade-1: var(--theme-blue-shade-1);
  --current-shade-2: var(--theme-blue-shade-2);
  --current-shade-3: var(--theme-blue-shade-3);
  --current-shade-4: var(--theme-blue-shade-4);
  --current-shade-5: var(--theme-blue-shade-5);
  --current-shade-6: var(--theme-blue-shade-6);
  --current-shade-7: var(--theme-blue-shade-7);
}
/* ============================================================================ */
/* Common */

.main {
  margin-top: 0;
}
@media (max-width: 768px) {
  .main {
    margin-top: 4rem;
  }
}

.sectionTitleAnimation {
  animation: sectionTitleAnimation 1s;
}

@keyframes sectionTitleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* animation on scroll when we reach the mission part of the mission section */
.fromLeft {
  animation: fromLeft 1.5s ease;
}

.fromRight {
  animation: fromRight 1.5s ease;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.color-primary {
  color: var(--current-primary);
}

/* ============================================================================ */
/* Banner */

/* change based on scroll */
.custom-navbar {
  border-bottom: 1px solid var(--shadow-light-2);
  box-shadow: 0 0 0 2px var(--shadow-light-2);
}
/* do not show nav border for < md devices */
@media (max-width: 991px) {
  .custom-navbar {
    border-bottom: none;
    box-shadow: none;
  }
}

.banner-section {
  height: 100vh;
}

#logo {
  max-height: 60px;
}

section {
  padding-top: 59px;
  min-height: 100vh;
}

/* animation on scroll when we reach the mission part of the mission section */
.fromTopHeader {
  animation: fromTopHeader 1.5s ease;
}

@keyframes fromTopHeader {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.brand {
  color: var(--current-primary);
}

/* navbar */
.nav-menu {
  padding: 30px;
  /* transition: all 0.7s; to show transition of navbar on scroll. See .custom-navbar class and JS */
}

.menu-item {
  letter-spacing: 1px;
  transition: all 0.2s;
  color: #000;
}

.menu-item:hover {
  color: var(--current-primary);
}

.active,
.nav-active {
  border-bottom: 4px solid var(--current-primary);
}

.nav-button {
  outline: none;
  position: relative;
  margin-bottom: 7px; /* when hamburger menu is clicked the background rounded circle was getting cut */
}
.nav-button:focus {
  outline: none;
}
/* show circle behind the hamburger icon */
.nav-button:after {
  content: '';
  position: absolute;
  top: -4px;
  right: -6px;
  width: 3rem;
  height: 3rem;
  outline: none;
  border-radius: 50%;
  /* background: radial-gradient(#fff, #ccc); */
  z-index: -1;
  box-shadow: 1px 2px 5px var(--shadow-light-1);
}

/* to show 3 line (hamburger) */
.line1,
.line2,
.line3 {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s; /* to show nice animation effects for hamburger lines */
}

/* to show 'X' on click */
.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* START => circle with a cutout image and shadow as well */
/* specially added to show shadow for exact round and cutout (polygon) shape */
/* .parent-wrapper {
  filter: drop-shadow(0 15px 30px rgba(0, 123, 255, 0.7));
}

.img-wrapper {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
  position: relative;
} */
/* END => circle with a cutout image and shadow as well */

.parent-wrapper {
  filter: drop-shadow(0 15px 30px var(--current-shade-2));
}

.img-wrapper {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  /* Refer - https://9elements.github.io/fancy-border-radius */
  /* RC 1 */
  border-radius: 24% 76% 50% 50% / 26% 33% 67% 74%;

  /* RC 2 */
  /* border-radius: 30% 70% 34% 66% / 26% 25% 75% 74%; */

  /* border-radius: 72% 28% 29% 71% / 52% 46% 54% 48%; */
  /* border-radius: 39% 61% 50% 50% / 30% 43% 57% 70%; */
  /* border-radius: 50% 50% 50% 50% / 65% 68% 32% 35%; */
  /* border-radius: 23% 77% 63% 37% / 32% 33% 67% 68%; */
}

#img-profile {
  transition: all 0.4s;
}
#img-profile:hover {
  transform: scale(1.05) perspective(2px);
}

.home-social {
  margin-top: 4rem;
}
.home-social * {
  font-size: 1.5rem;
  /* same as .fromTopHeader class because it is required when page loaded for first time as there is no scrolling yet */
  animation-name: socialMedia;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

/* animation on scroll when we reach the mission part of the mission section */
.socialMedia {
  animation-name: socialMedia;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

@keyframes socialMedia {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ============================================================================ */
/* About */

mark {
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      var(--current-shade-7) 0.9%,
      var(--current-shade-1) 2.4%,
      var(--current-shade-3) 5.8%,
      var(--current-shade-6) 93%,
      var(--current-shade-2) 96%,
      var(--current-shade-7) 98%
    ),
    linear-gradient(
      183deg,
      var(--current-shade-7) 0%,
      var(--current-shade-4) 7.9%,
      var(--current-shade-7) 15%
    );
  padding: 0.2em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
}

.about-img {
  border-radius: 7px;
  box-shadow: 2px 3px 10px var(--shadow-dark-1);
}

.underline {
  width: 150px;
  margin: auto; /* to center the line */
  border-bottom: 5px solid var(--current-primary);
}

/* ============================================================================ */
/* Skills */

.skill {
  box-shadow: 0 4px 25px var(--shadow-dark-2);
  border-radius: 0.5rem;
  padding: 10px;
  margin-bottom: 1rem;
}

.skill_name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_bar {
  position: relative;
  padding-top: 10px;
}

.skill_bar-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0%; /* initial width */
  border-bottom: 4px solid var(--current-primary);
  transition: width 1.2s ease; /* for animating the width */
}

/* ============================================================================ */
/* Timeline */
.timeline {
  border-left: 3px solid var(--current-primary);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: var(--current-shade-6);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 70%;
  box-shadow: 0 4px 25px var(--shadow-dark-2);
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed var(shadow-light-2);
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date); /* value from li element's 'data-date' attr will be used */
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px var(--current-primary);
  box-shadow: 0 0 0 3px var(--current-primary);
  left: -55.8px;
  background: var(--shadow-light-3);
  border-radius: 50%; /* for rounded hollow circle */
  height: 9px;
  width: 9px;
  content: '';
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid var(--current-primary);
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.animate-event-1 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
.animate-event-2 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
.animate-event-3 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-delay: 1.6s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
.animate-event-4 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

/* ============================================================================ */
/* Work */

/* in addition to bootstrap's 'card' class styles, below styles will be appllied */
.card {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 8px 20px var(--shadow-light-1);
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 0 5px 15px var(--shadow-dark-4);
  transform: scale(1.02) perspective(2px);
}

/* in addition to bootstrap's 'card-img-top' class styles, below styles will be appllied */
.card-img-top {
  height: 60%;
}

.pill {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #617d98;
  background: #dae2ec;
  white-space: nowrap;
}

.work-list-item {
  color: var(--shadow-dark-3);
  cursor: pointer;
  user-select: none; /* disable user selecting the item */
}

.active-item {
  color: var(--current-primary);
}

.workCardAnimation {
  animation-timing-function: ease;
  animation-name: workCardAnimation;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
}

@keyframes workCardAnimation {
  0% {
    transform: scale(1) perspective(2px);
    box-shadow: 5px 8px 20px var(--shadow-light-1);
  }

  50% {
    transform: scale(1.03) perspective(2px);
    box-shadow: 0 5px 15px var(--shadow-dark-4);
  }

  100% {
    transform: transcale(1);
    box-shadow: 5px 8px 20px var(--shadow-light-1);
  }
}

/* ============================================================================ */
/* Contact */
.form-control {
  border-radius: 6px;
  outline: none;
}

.form-control:focus {
  outline: none;
  border-color: var(--current-shade-5);
}

.submit-button {
  border-radius: 10rem;
  padding: 10px 50px;
  background-color: var(--current-primary);
  position: relative;
  transform: translateY(0px);
  transition: all 0.3s;
}

.submit-button:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  clip-path: circle(0 at center);
  background-color: var(--shadow-light-3);
  transition: 0.5s ease-out;
}

/* ripple effect on hover using clip-path */
.submit-button:hover:before {
  clip-path: circle(100px at center);
}

.submit-button:active {
  transform: translateY(4px);
}

.submit-button:disabled {
  cursor: not-allowed;
}

/* ============================================================================ */
/* footer */

.author {
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  text-decoration: none;
  color: var(--current-primary);
}
.author:hover {
  transform: rotate(3deg) scale(1.4);
  text-decoration: none;
  color: var(--current-primary);
  background-color: var(--shadow-dark-5);
  box-shadow: 0 1rem 2rem var(--shadow-dark-4);
  z-index: 10;
}
